Repository CodeStrong2023/DevGroupCuarSem, pull requests merged in 2024-11, with the labels that each got.

#112 Javascript - Clase 10 Proyecto con stack pern por Daniel Guerrero -> Parte 6
  .DS_Store
  LaboratorioIV/JavaScript/PERN-stack/.idea/.gitignore
  LaboratorioIV/JavaScript/PERN-stack/.idea/PERN-stack.iml
  LaboratorioIV/JavaScript/PERN-stack/.idea/misc.xml
  LaboratorioIV/JavaScript/PERN-stack/.idea/modules.xml
  LaboratorioIV/JavaScript/PERN-stack/.idea/vcs.xml
  LaboratorioIV/JavaScript/PERN-stack/frontend/package-lock.json
  LaboratorioIV/JavaScript/PERN-stack/frontend/package.json
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/App.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/api/axios.js
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/api/tareas.api.js
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ProtectecRoute.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/navbar/NavBar.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/navbar/navigation.js
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/tareas/CardTareas.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Button.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Card.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Container.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Input.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Label.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/Textarea.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/components/ui/index.js
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/context/AuthContext.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/main.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/HomePage.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/LoginPage.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/NotFound.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/ProfilePage.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/RegisterPage.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/TareaFormPage.jsx
  LaboratorioIV/JavaScript/PERN-stack/frontend/src/pages/TareasPage.jsx
  LaboratorioIV/JavaScript/PERN-stack/package-lock.json
  LaboratorioIV/JavaScript/PERN-stack/package.json
  LaboratorioIV/JavaScript/PERN-stack/src/app.js
  LaboratorioIV/JavaScript/PERN-stack/src/controllers/auth.controller.js
  LaboratorioIV/JavaScript/PERN-stack/src/database/init.sql
  LaboratorioIV/JavaScript/PERN-stack/src/db.js
  LaboratorioIV/JavaScript/PERN-stack/src/middlewares/validate.middleware.js
  LaboratorioIV/JavaScript/PERN-stack/src/router/auth.routes.js
  LaboratorioIV/JavaScript/PERN-stack/src/router/tareas.routes.js
  LaboratorioIV/JavaScript/PERN-stack/src/schemas/auth.schema.js
  LaboratorioIV/JavaScript/PERN-stack/src/schemas/tareas.schema.js
Labels: Javascript

#121 NODE-Clase 12 modulos-global y acomodando archivos en las carpetas co…
  Metodologia de Sistemas l/Node/01-Hola-Mundo/app.js
  Metodologia de Sistemas l/Node/01-Hola-Mundo/app2.js
  Metodologia de Sistemas l/Node/01-Hola-Mundo/app3.js
  Metodologia de Sistemas l/Node/01-Hola-Mundo/entorno.js
  Metodologia de Sistemas l/Node/01-Hola-Mundo/monohilo.js
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/asyncAwait.js
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/promises.js
  Metodologia de Sistemas l/Node/02-Fundamentos_node/modulos/globales.js
  Metodologia de Sistemas l/Node/Clase 6/app.js
  Metodologia de Sistemas l/Node/Clase 6/app2.js
  Metodologia de Sistemas l/Node/Clase 6/app3.js
  Metodologia de Sistemas l/Node/Clase 6/monohilo.js
Labels: Node.js

#122 subiendo clase 11 Python Entorno profesional - parte 6
  LaboratorioIV/Python/Python-Entorno-Profesional/web-server/main.py
  LaboratorioIV/Python/Python-Entorno-Profesional/web-server/requirements.txt
  LaboratorioIV/Python/Python-Entorno-Profesional/web-server/store.py
Labels: Python
