Repository CodeStrong2023/DevGroupCuarSem, pull requests merged in 2024-09, with the labels that each got.

#31 clase 02 e-commerce basico parte 2
  Laboratorio IV/.DS_Store
  Laboratorio IV/JavaScript/.DS_Store
  Laboratorio IV/JavaScript/e-commerce/.DS_Store
  Laboratorio IV/JavaScript/e-commerce/client/.DS_Store
  Laboratorio IV/JavaScript/e-commerce/client/js/cart.js
  Laboratorio IV/JavaScript/e-commerce/client/js/index.js
  Laboratorio IV/JavaScript/e-commerce/client/media/index.html
  Laboratorio IV/JavaScript/e-commerce/client/media/styles.css
  Laboratorio IV/Python/Clase 02/Sistema_numeracion.py
  Laboratorio IV/Python/Clase 02/tipo_float.py
  Laboratorio IV/Python/Clase 02/valores_infinitos.py
Labels: Javascript

#35 Avances en proyecto Avatar
  ProyectoAvatar/ProyectoconCSS/avatar/public/avatar.html
  ProyectoAvatar/ProyectoconCSS/avatar/public/css/avatar.css
  ProyectoAvatar/ProyectoconCSS/avatar/public/css/styles.css
  ProyectoAvatar/ProyectoconCSS/avatar/public/js/avatar.js
  ProyectoAvatar/ProyectoconCSS/avatar/public/reglitas.html
Labels: HTML, CSS, Javascript

#37 Proyecto avatar: Variables globales
  ProyectoAvatar/ProyectoconCSS/avatar/public/assets/imagen-titulo.png
  ProyectoAvatar/ProyectoconCSS/avatar/public/avatar.html
  ProyectoAvatar/ProyectoconCSS/avatar/public/css/avatar.css
  ProyectoAvatar/ProyectoconCSS/avatar/public/js/avatar.js
Labels: HTML, CSS, Javascript

#39 Update: Agregando Clase 03 Profundizando con Sistemas Numéricos y Str…
  .DS_Store
  Laboratorio IV/Python/Clase 02/Sistema_numeracion.py
  Laboratorio IV/Python/Clase 02/tipo_bool.py
  Laboratorio IV/Python/Clase 02/tipo_float.py
  Laboratorio IV/Python/Clase 02/tipo_nan.py
  Laboratorio IV/Python/Clase 02/tipo_str.py
  Laboratorio IV/Python/Clase 02/valores_infinitos.py
Labels: Python

#40 Clase 4 Aplicacion de Sistema Estudiantes con SpringBoot - Parte 3
  Metodologia de Sistemas l/Java/Clase 4/.idea/.gitignore
  Metodologia de Sistemas l/Java/Clase 4/.idea/Clase 4.iml
  Metodologia de Sistemas l/Java/Clase 4/.idea/misc.xml
  Metodologia de Sistemas l/Java/Clase 4/.idea/modules.xml
  Metodologia de Sistemas l/Java/Clase 4/.vscode/settings.json
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/HELP.md
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/mvnw
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/mvnw.cmd
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/pom.xml
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/java/utn/estudiantes/modelo/Estudiante.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/java/utn/estudiantes/repositorio/EstudianteRepositorio.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/java/utn/estudiantes/servicio/EstudianteServicio.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/java/utn/estudiantes/servicio/iEstudianteServicio.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/resources/application.properties
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/main/resources/logback-spring.xml
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/target/classes/application.properties
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/target/classes/logback-spring.xml
  Metodologia de Sistemas l/Java/Clase 4/estudiantes/target/classes/utn/estudiantes/EstudiantesApplication.class
Labels: Java

#41 Terminando Clase 3 E-commerce JS
  Laboratorio IV/JavaScript/e-commerce/client/index.html
  Laboratorio IV/JavaScript/e-commerce/client/js/cart.js
  Laboratorio IV/JavaScript/e-commerce/client/js/index.js
  Laboratorio IV/JavaScript/e-commerce/client/styles.css
Labels: Javascript

#55 Clase 5: Proyecto con Stack PERN por Daniel Guerrero -> Parte 1
  Laboratorio IV/JavaScript/PERN-stack/.gitignore
  Laboratorio IV/JavaScript/PERN-stack/package-lock.json
  Laboratorio IV/JavaScript/PERN-stack/package.json
  Laboratorio IV/JavaScript/PERN-stack/src/app.js
  Laboratorio IV/JavaScript/PERN-stack/src/config.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/auth.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/database/init.sql
  Laboratorio IV/JavaScript/PERN-stack/src/db.js
  Laboratorio IV/JavaScript/PERN-stack/src/index.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/auth.routes.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/tareas.routes.js
Labels: Javascript, Node.js

#56 Clase 6, Node
  Metodologia de Sistemas l/Node/Clase 6/app.js
  Metodologia de Sistemas l/Node/Clase 6/app2.js
  Metodologia de Sistemas l/Node/Clase 6/app3.js
  Metodologia de Sistemas l/Node/Clase 6/entorno.js
  Metodologia de Sistemas l/Node/Clase 6/monohilo.js
Labels: Node, Javascript

#57 Clase 05 Profundizando en String
  Laboratorio IV/Python/Clase 02/doc_str.py
  Laboratorio IV/Python/Clase 02/metodo_join.py
  Laboratorio IV/Python/Clase 02/metodo_split.py
  Laboratorio IV/Python/Clase 02/mi_clase.py
  Laboratorio IV/Python/Clase 02/str_inmutable.py
Labels: Python

#59 Clase-05-Python-Entorno-Profesional
  Laboratorio IV/Python/Python-Entorno-Profesional/app/charts.py
  Laboratorio IV/Python/Python-Entorno-Profesional/app/data.csv
  Laboratorio IV/Python/Python-Entorno-Profesional/app/imgs/Argentina.png
  Laboratorio IV/Python/Python-Entorno-Profesional/app/imgs/Colombia.png
  Laboratorio IV/Python/Python-Entorno-Profesional/app/imgs/Peru.png
  Laboratorio IV/Python/Python-Entorno-Profesional/app/imgs/pie.png
  Laboratorio IV/Python/Python-Entorno-Profesional/app/main.py
  Laboratorio IV/Python/Python-Entorno-Profesional/app/read_csv.py
  Laboratorio IV/Python/Python-Entorno-Profesional/app/utils.py
Labels: Python
