Repository CodeStrong2023/DevGroupCuarSem, pull requests merged in 2024-10, with the labels that each got.

#67 Update-Clase07-Java_ProyectoTiendadeLibrosconSpringBootySwing
  .vscode/settings.json
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/pom.xml
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/modelo/Libro.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/repositorio/LibroRepositorio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/ILibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/LibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/resources/application.properties
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/test/java/utn/tienda_libros/TiendaLibrosApplicationTests.java
Labels: Java

#68 Clase 06 Python parte 2
  Laboratorio IV/Python/Clase 02/dar_formato_str.py
  Laboratorio IV/Python/Clase 02/f_string.py
Labels: Python

#69 Clase 06 Proyecto con stack PERN -> Parte 2
  Laboratorio IV/JavaScript/PERN-stack/src/app.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/database/init.sql
  Laboratorio IV/JavaScript/PERN-stack/src/db.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/tareas.routes.js
Labels: Javascript

#70 Cierre de semana 7
  .vscode/settings.json
  Base Datos y HTML/columnas.css
  Base Datos y HTML/columnas.html
  Base Datos y HTML/cssyhtml/diseño web responsivo/columnas.css
  Base Datos y HTML/cssyhtml/diseño web responsivo/columnas.html
  Base Datos y HTML/cssyhtml/img/141163.webp
  Base Datos y HTML/cssyhtml/img/imagen.jpg
  Base Datos y HTML/cssyhtml/img/imagen1.webp
  Base Datos y HTML/cssyhtml/img/imagen2.jpg
  Base Datos y HTML/cssyhtml/img/imagen3.jpg
  Laboratorio IV/JavaScript/PERN-stack/src/app.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/database/init.sql
  Laboratorio IV/JavaScript/PERN-stack/src/db.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/tareas.routes.js
  Laboratorio IV/Python/Clase 02/dar_formato_str.py
  Laboratorio IV/Python/Clase 02/f_string.py
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/pom.xml
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/modelo/Libro.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/repositorio/LibroRepositorio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/ILibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/LibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/resources/application.properties
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/test/java/utn/tienda_libros/TiendaLibrosApplicationTests.java
Labels: Javascript, Python, Java

#75 subiendo la clase 02 de node: Fundamentos_Node
  .DS_Store
  Laboratorio IV/JavaScript/e-commerce/client/.DS_Store
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/callback.js
Labels: Node

#76 Clase 07 Proyecto con stack PERN Parte 3
  Laboratorio IV/JavaScript/PERN-stack/package-lock.json
  Laboratorio IV/JavaScript/PERN-stack/package.json
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/auth.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/database/init.sql
  Laboratorio IV/JavaScript/PERN-stack/src/libs/jwt.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/auth.routes.js
Labels: Javascript

#77 clase 08 java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/modelo/Libro.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/repositorio/LibroRepositorio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/ILibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/servicio/LibroServicio.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/test/java/utn/tienda_libros/TiendaLibrosApplicationTests.java
Labels: Java

#84 Upload Clase 9 Node
  Clase 9/callback.js
  Clase 9/callbackHell.js
Labels: Javascript, Node.js

#85 Java-Clase09-TiendaLibro-parte04
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
Labels: Java

#86 Clase 08 Proyecto nuevo Parte 2 - Python
  .DS_Store
  Laboratorio IV/.DS_Store
  Laboratorio IV/Python/Clase08/Juego_Tuc/Personaje.py
  Laboratorio IV/Python/Clase08/Juego_Tuc/constantes.py
  Laboratorio IV/Python/Clase08/Juego_Tuc/main.py
Labels: Python

#87 Marcos martos
  Laboratorio IV/JavaScript/PERN-stack/src/app.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/middlewares/auth.middleware.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/auth.routes.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/tareas.routes.js
  Metodologia de Sistemas l/Node/Clase 9/callback.js
  Metodologia de Sistemas l/Node/Clase 9/callbackHell.js
Labels: Javascript, Node.js

#88 Cierre de semana 9
  .DS_Store
  Laboratorio IV/.DS_Store
  Laboratorio IV/JavaScript/PERN-stack/src/app.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/middlewares/auth.middleware.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/auth.routes.js
  Laboratorio IV/JavaScript/PERN-stack/src/router/tareas.routes.js
  Laboratorio IV/Python/Clase08/Juego_Tuc/Personaje.py
  Laboratorio IV/Python/Clase08/Juego_Tuc/constantes.py
  Laboratorio IV/Python/Clase08/Juego_Tuc/main.py
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.form
  Metodologia de Sistemas l/Java/Clase06/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
  Metodologia de Sistemas l/Node/Clase 9/callback.js
  Metodologia de Sistemas l/Node/Clase 9/callbackHell.js
Labels: Javascript, Python, Java, Node.js

#98 Joaquinesposito
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/callback.js
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/callbackHell.js
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/promises.js
  Metodologia de Sistemas l/Node/Clase 9/callback.js
Labels: Node.js

#99 Clase 6,7 y 8 base de datos
  Base Datos y HTML/sass/proyecto-s/css/main.css
  Base Datos y HTML/sass/proyecto-s/css/main.css.map
  Base Datos y HTML/sass/proyecto-s/index.html
  Base Datos y HTML/sass/proyecto-s/scss/main.scss
Labels: CSS

#100 Clase 9: Proyecto con stack PERN Parte 5
  Laboratorio IV/JavaScript/PERN-stack/frontend/.gitignore
  Laboratorio IV/JavaScript/PERN-stack/frontend/README.md
  Laboratorio IV/JavaScript/PERN-stack/frontend/eslint.config.js
  Laboratorio IV/JavaScript/PERN-stack/frontend/index.html
  Laboratorio IV/JavaScript/PERN-stack/frontend/package-lock.json
  Laboratorio IV/JavaScript/PERN-stack/frontend/package.json
  Laboratorio IV/JavaScript/PERN-stack/frontend/postcss.config.js
  Laboratorio IV/JavaScript/PERN-stack/frontend/public/vite.svg
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/App.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/assets/react.svg
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/components/ui/Button.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/components/ui/Card.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/components/ui/Input.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/index.css
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/main.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/AboutPage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/HomePage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/LoginPage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/ProfilePage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/RegisterPage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/TareaFormPage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/src/pages/TareasPage.jsx
  Laboratorio IV/JavaScript/PERN-stack/frontend/tailwind.config.js
  Laboratorio IV/JavaScript/PERN-stack/frontend/vite.config.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/auth.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/controllers/tareas.controller.js
  Laboratorio IV/JavaScript/PERN-stack/src/database/init.sql
Labels: Javascript

#103 Base de datos-Sass Clase 09
  Base Datos y HTML/sass/proyecto-s/complementos/img/earth.png
  Base Datos y HTML/sass/proyecto-s/complementos/img/ecology.png
  Base Datos y HTML/sass/proyecto-s/complementos/img/facebook-logo.png
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/desk-lamp.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/mini-table.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/mirror.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/mueble.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/small-table.jpeg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/stand-table.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/stand.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/table.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/furniture/wood-chair.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/gallery-1.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/gallery-2.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/gallery-3.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/instagram-logo.png
  Base Datos y HTML/sass/proyecto-s/complementos/img/main-2.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/main.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/map.png
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/guasha-kit.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/hand-cream.jpeg
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/organic-kit.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/organic-soap.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/serum.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/products/toothbrush.jpg
  Base Datos y HTML/sass/proyecto-s/complementos/img/twitter-logo.png
  Base Datos y HTML/sass/proyecto-s/complementos/svg/heart.svg
  Base Datos y HTML/sass/proyecto-s/complementos/svg/profile.svg
  Base Datos y HTML/sass/proyecto-s/complementos/svg/shopping-cart.svg
  Base Datos y HTML/sass/proyecto-s/css/main.css
  Base Datos y HTML/sass/proyecto-s/css/main.css.map
  Base Datos y HTML/sass/proyecto-s/index.html
  Base Datos y HTML/sass/proyecto-s/scss/main.css
  Base Datos y HTML/sass/proyecto-s/scss/main.css.map
  Base Datos y HTML/sass/proyecto-s/scss/main.scss
Labels: CSS

#109 subiendo Clase 11 - Node async await
  Metodologia de Sistemas l/Node/02-Fundamentos_node/async/asyncAwait.js
Labels: Node.js
