Repository CodeStrong2023/DevGroupCuarSem, pull requests merged in 2024-08, with the labels that each got.

#10 Terminando e-commerce semana 1
  Laboratorio IV/JavaScript/e-commerce/client/js/index.js
  Laboratorio IV/JavaScript/e-commerce/client/js/products.js
  Laboratorio IV/JavaScript/e-commerce/client/media/banana.jpg
  Laboratorio IV/JavaScript/e-commerce/client/media/enlatados.jpg
  Laboratorio IV/JavaScript/e-commerce/client/media/index.html
  Laboratorio IV/JavaScript/e-commerce/client/media/leche.jpg
  Laboratorio IV/JavaScript/e-commerce/client/media/mayonesa.jpg
  Laboratorio IV/JavaScript/e-commerce/client/media/pollo.jpg
  Laboratorio IV/JavaScript/e-commerce/client/media/styles.css
  Laboratorio IV/JavaScript/e-commerce/client/media/varios.jpg
Labels: HTML, CSS, Javascript

#13 Update: Agregando Clase01Parte3 Java
  Metodologia de Sistemas l/Clase01Parte3/Conexion01.sql
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.gitignore
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/.gitignore
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/encodings.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/inspectionProfiles/Project_Default.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/misc.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/uiDesigner.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/.idea/vcs.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/pom.xml
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/datos/EstudianteDAO.java
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/dominio/Estudiante.java
  Metodologia de Sistemas l/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/presentacion/SistemaEstudiantesApp.java
Labels: Java

#18 Actividad de Base de Datos: Actualización de HTML y CSS
  Base Datos y HTML/cssyhtml/diseño web responsivo/columnas.css
  Base Datos y HTML/cssyhtml/diseño web responsivo/columnas.html
Labels: HTML, CSS

#20 Clase 02 de Node
  Metodologia de Sistemas l/Java/Clase01Parte3/Conexion01.sql
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.gitignore
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/.gitignore
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/encodings.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/inspectionProfiles/Project_Default.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/misc.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/uiDesigner.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/.idea/vcs.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/pom.xml
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/datos/EstudianteDAO.java
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/dominio/Estudiante.java
  Metodologia de Sistemas l/Java/Clase01Parte3/SistemaEstudiantes/src/main/java/UTN/presentacion/SistemaEstudiantesApp.java
  Metodologia de Sistemas l/Java/Clase02/estudiantes/.gitignore
  Metodologia de Sistemas l/Java/Clase02/estudiantes/.mvn/wrapper/maven-wrapper.properties
  Metodologia de Sistemas l/Java/Clase02/estudiantes/mvnw
  Metodologia de Sistemas l/Java/Clase02/estudiantes/mvnw.cmd
  Metodologia de Sistemas l/Java/Clase02/estudiantes/pom.xml
  Metodologia de Sistemas l/Java/Clase02/estudiantes/src/main/java/utn/estudiantes/EstudiantesApplication.java
  Metodologia de Sistemas l/Java/Clase02/estudiantes/src/main/resources/application.properties
  Metodologia de Sistemas l/Java/Clase02/estudiantes/src/main/resources/logback-spring.xml
  Metodologia de Sistemas l/Java/Clase02/estudiantes/src/test/java/utn/estudiantes/EstudiantesApplicationTests.java
  Metodologia de Sistemas l/Node/01-Hola-Mundo/app.js
Labels: Node.js
